python-dotenv
gradio_client
gradio
openai
httpx
tiktoken
tinydb
tinymongo
proglog
yt-dlp>=2025.1.12
torch
torchaudio
### whisper timestamped 
whisper-timestamped
protobuf
pillow
moviepy
progress
questionary
edge-tts
